.editor-menu{
    padding: 12px;
    font-size: 1.1em;
    display: flex;
}
.editor-menu h3{
    margin: 0;
    cursor: pointer;
}

.editor-menu span{
    flex-grow: 7;
}
.back-btn {
    font-size: 1.5em;
    cursor: pointer;
}



.editor-menu button {
    text-transform: uppercase;
    font-size: 1.1em;
    border: none;
    background: transparent;
    color: #585858;
    cursor: pointer;
    flex-grow: 1;
}

.preview-mode-btns{
    display: none;
}

@media(pointer: fine){
    .back-btn{
        display: none;
    }
    .editor-menu h3{
        display: inline-block;
    }
}

@media(pointer: coarse){
    .back-btn{
        display: inline;
    }
    .editor-menu h3{
        display: none;
    }
}
